@font-face{
    font-family: 'Vogue';
    src: url(Font/Vogue.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Louis George Cafe';
    src: url(Font/Louis\ George\ Cafe.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: #BFBFBF;
    font-family: 'Louis George Cafe';
    color: #262223;
}

::selection{
    background: #8C8C8C;
}

main{
    padding: 5%;
}

header, footer{
    padding: 1%;
    background-color: #262223;
    color: #F2F2F2;
}

.illustration{
    background-color: #262223;
    border-radius: 10%;
    padding: 1%;
}

.profil{
    display: flex;
    align-items: center;
}

a{
    color: #262223;
}

header img{
    width: 125px;
}

.menu{
    background-color: #F2F2F2;
    color: #262223;
    text-align: center;
    padding: 1%;
    border-radius: 25%;
}

header article a{
    text-decoration: none;
}

footer div article ul li a{
    color: #F2F2F2;
}

.ligne{
    display: flex;
    justify-content:space-around;
}


.liste{
    display: flex; 
    justify-content: space-around; 
    flex-wrap: wrap;
}

.gueneuc{
    margin-left: 50%;
}

li{
    padding: 5px;
}

h1{
    font-size: 5em;
}

h1, h2, h3, h4{
    font-family: 'Vogue';
}

hr{
    color: #262223;
}

ul{
    list-style: none;
}

@media screen and (max-width: 780px) {

    .profil{
        display: block;
        justify-content: center;
        text-align: center;
    }

    .vincent{
        margin-right: 25%;
    }

    .gueneuc{
        margin-left: 15%;
    }

    h1{
        font-size: 3em;
    }

    .ligne{
        flex-wrap: wrap;
    }

    footer div{
        display: flex;
        justify-content: start;
    }

    .menu{
        display: none;
    }
    
}